.email {
    flex: auto;
    width: auto;
    height: auto;
    float: right;
  }
    .main-header{
      padding: 0;
      margin: 5px;
  
    }
    button a {
      text-decoration: none;
      color: black;
    }
    button {
      text-decoration: none;
      color: black;
    }
    