*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin: 5px;
}
.container-fluid {
    margin: 0px;
}
.flex {
    display: flex;
}
//   margin classes
.mt-1 {
    margin-top: 2px;
}
.mt-2 {
  margin-top: 4px;
}
.mt-3 {
    margin-top: 6px;
}
.mt-4 {
    margin-top: 8px;
}
.m-5 {
    margin-top: 10px;
}


.m-1 {
    margin: 2px;
}
.m-2 {
    margin: 4px;
  }
  .m-3 {
      margin: 6px;
  }
  .m-4 {
      margin: 8px;
  }
  .m-5 {
      margin: 10px;
  }
  